.extra-fonts{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}
.bg-color-rose{
    background-color: rgba(255, 251, 240, 1);
}
.penguin-fashion-logo{
    width: 250px;
}
.orange{
    color: rgba(250, 190, 76, 1);
}
.dark-blue{
    color: rgba(54, 57, 88, 1);
    font-weight: 800;
}
.btn-color-green{
    background-color: rgba(164, 188, 70, 1);
    color: white;
    width: 170px;
    height: 60px;
    border-radius: 10px;
}
.price{
    font-size: 36px;
    font-weight: 700;
}
.women-font-size{
    font-size: 40px;
}
.extra-img-class{
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 20px;
    /* padding was 40px, need to chnage if git website do not get the what my browser showing */
    padding: 30px 45px;
    width: 334px;
    height: 327px;
}
.jacket-card{
    border-radius: 20px;
}
.jacket-card-footer{
    height: 60px;
}
.logo-size{
    width: 150px;
    padding: 30px;
}
.bottom-card{
    border-radius: 20px;
    height: 200px;
}
.last-image{
    margin-top: 200px;
    width: 120%;
}
.form-control{
    width: 250px;
}